
        table,
        th,
        td {
            border: 1px solid black;
        }

        caption {
            color: brown;
        }
       .name{
        color:darkmagenta;
       }
       .designation{
        color: rgb(52, 18, 61);
       }
        p{
            color:darkblue;
            font-weight: 600;
        }
        ul,li{
            font-weight: 900;
        }
        a{
            font-weight: 700;
        }
   